body {
    margin: 0;
    padding: 0;
}

body *{
    font-family: Arial, Helvetica, sans-serif;
}

.wd-kanbas-navigation {
    background-color: black;
    list-style: none;
    padding: 0px;
    width: 80px;
    margin: 0px;
}

.wd-kanbas-navigation li {
    padding: 10px;
    margin-bottom: 10;
    text-align: center;
    font-size: 0.8em;
}

.wd-kanbas-navigation li.wd-kanbas-navigation-active {
    background-color: white;
}

.wd-kanbas-navigation li.wd-kanbas-navigation-active a {
    color: rgb(191, 8, 8);
}

.wd-kanbas-navigation li a {
    color: white;
    text-decoration: none;
    display: block;
}

.wd-kanbas-navigation a i {
    color: rgb(191, 8, 8);
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}