body {
    margin: 0;
    padding: 0;
}

body *{
    font-family: Arial, Helvetica, sans-serif;
}
.wd-flex-row-container {
    display: flex;
    flex-direction: row;
}
#wd-grades{
    margin-top: 20px;
    width: 70%;
}

#wd-grades .btn-secondary {
    background-color:rgb(218, 218, 218);
    color: black;
    border-color: rgb(218, 218, 218);
    margin: 5px;
}

.wd-grades-item {
    margin-bottom: 10px;
}
#wd-grades-search{
    margin-top: 20px;
}

.wd-grade-student-name{
    color: rgb(191, 8, 8) !important;
}